/* Write your CSS here */

.bg-container {
  background-color: #ffffff;
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  padding-top: 60px;
}
.google-img {
  width: 400px;
  margin-bottom: 40px;
}
.search-suggestions-container {
  background-color: #ffffff;
  box-shadow: 2px 2px 4px #475569;
  width: 600px;
  border-radius: 12px;
  padding: 5px;
}
.search-box-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.search-icon {
  width: 32px;
  padding-left: 5px;
}
.search-input-element {
  background-color: #ffffff;
  border: 0px solid;
  border-radius: 7px;
  width: 590px;
  outline: none;
  height: 25px;
  font-size: 18px;
  padding: 20px;
}
.suggestions-list-container {
  list-style-type: none;
}
.each-suggestion-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.suggestion-text {
  font-family: 'Roboto';
  padding-left: 10px;
}
.arrow-img-button {
  background-color: transparent;
  outline: none;
  border: 0px solid;
  cursor: pointer;
  padding-right: 10px;
}
.arrow-img {
  width: 25px;
}
